.gameOver{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	z-index: 4;
	border-style: solid;
	border-width: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
	opacity: 0;
	visibility: hidden;
	transition: 100ms;
	&.show{
		opacity: 1;
		visibility: visible;
		transition: 400ms;
	}
	&.dead{
		border-color: #cd0000;
		background: #cc6060;
		color: #520000;
	}
	&.won{
		border-color: #e5c100;
		background: #ded290;
		color: #a48a00;
	}
	h3, h5{
		color: black;
	}
	h1{
		margin: 15px;
		text-decoration: underline;
	}
	h3{margin: 8px;}
	h4{
		margin: 4px;
		color: blue;
	}
}

.playBtn{
	font-weight: bold;
	padding: 4px 6px;
	border: 2px solid black;
	margin-top: 10px;
	outline: none;
	cursor: pointer;
	&:hover{
		background: white;
	}
	&:active{
		border-width: 3px;
		padding: 3px 5px;
	}
}

.stats{
	display: flex;
	flex-direction: column;
	align-items: center;
}